@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Demo for Azure devops pipeline for dotnetcore changed by jagan  v2 changes ken</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Devop training model</a>.</p>
</div>
